In [1]:
%load_ext sql

In [2]:
%sql ibm_db_sa://zwh93123:9gO6lrAaUh92Mtgg@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb?security=SSL

In [3]:
%sql select count (*) from chicago_crime_data;
# the total number of crimes recorded in the crime table

 * ibm_db_sa://zwh93123:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[(533,)]

In [6]:
%sql select community_area_name, per_capita_income from census_data where per_capita_income < 11000;
# list community areas with per capita income less than 11,000

 * ibm_db_sa://zwh93123:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

In [10]:
%sql select community_area_name, per_capita_income from census_data where per_capita_income > 11000;
# list community areas with per capita income more than 11,000

 * ibm_db_sa://zwh93123:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[('Rogers Park', 23939),
 ('West Ridge', 23040),
 ('Uptown', 35787),
 ('Lincoln Square', 37524),
 ('North Center', 57123),
 ('Lake View', 60058),
 ('Lincoln Park', 71551),
 ('Near North Side', 88669),
 ('Edison Park', 40959),
 ('Norwood Park', 32875),
 ('Jefferson Park', 27751),
 ('Forest Glen', 44164),
 ('North Park', 26576),
 ('Albany Park', 21323),
 ('Portage Park', 24336),
 ('Irving Park', 27249),
 ('Dunning', 26282),
 ('Montclaire', 22014),
 ('Belmont Cragin', 15461),
 ('Hermosa', 15089),
 ('Avondale', 20039),
 ('Logan Square', 31908),
 ('Humboldt park', 13781),
 ('West Town', 43198),
 ('Austin', 15957),
 ('East Garfield Park', 12961),
 ('Near West Side', 44689),
 ('North Lawndale', 12034),
 ('Lower West Side', 16444),
 ('Loop', 65526),
 ('Near South Side', 59077),
 ('Armour Square', 16148),
 ('Douglas', 23791),
 ('Oakland', 19252),
 ('Grand Boulevard', 23472),
 ('Kenwood', 35911),
 ('Washington Park', 13785),
 ('Hyde Park', 39056),
 ('Woodlawn', 18672),
 ('South Shore', 19398),
 ('Chatham', 18881),
 ('Avalon Park', 24454),
 ('South Chicago', 16579),
 ('Burnside', 12515),
 ('Calumet Heights', 28887),
 ('Roseland', 17949),
 ('Pullman', 20588),
 ('South Deering', 14685),
 ('East Side', 17104),
 ('West Pullman', 16563),
 ('Hegewisch', 22677),
 ('Garfield Ridge', 26353),
 ('Archer Heights', 16134),
 ('Brighton Park', 13089),
 ('McKinley Park', 16954),
 ('Bridgeport', 22694),
 ('New City', 12765),
 ('West Elsdon', 15754),
 ('Gage Park', 12171),
 ('Clearing', 25113),
 ('West Lawn', 16907),
 ('Chicago Lawn', 13231),
 ('West Englewood', 11317),
 ('Englewood', 11888),
 ('Greater Grand Crossing', 17285),
 ('Ashburn', 23482),
 ('Auburn Gresham', 15528),
 ('Beverly', 39523),
 ('Washington Height', 19713),
 ('Mount Greenwood', 34381),
 ('Morgan Park', 27149),
 ("O'Hare", 25828),
 ('Edgewater', 33385),
 ('CHICAGO', 28202)]

In [12]:
%sql select case_number from chicago_crime_data where description like '%MINOR' ; 

# list all case numbers for crimes involving minors

 * ibm_db_sa://zwh93123:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[('HL266884',), ('HK238408',)]

In [15]:
%sql select * from chicago_crime_data where primary_tYpe like '%KIDNAPPING' ;
# LIST ALL KIDNAPPING CRIMES

 * ibm_db_sa://zwh93123:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[(5276766, 'HN144152', datetime.date(2007, 1, 26), '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, '20', 1143050, 1897546, 2007, Decimal('41.87490841'), Decimal('-87.75024931'), '(41.874908413, -87.750249307)')]

In [16]:
%sql select distinct primary_type from chicago_crime_data where location_description like 'SCHOOL%';
# WHAT KIND OF CRIMES WERE RECORDED AT SCHOOLS

 * ibm_db_sa://zwh93123:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPA',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VI',)]

In [20]:
%sql select "Elementary, Middle, or High School", avg(safety_score) from chicago_public_schools group by "Elementary, Middle, or High School";

 * ibm_db_sa://zwh93123:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0104N  An unexpected token "High" was found following "ementary, Middle, or".  Expected tokens may include:  "<value_expr>".  SQLSTATE=42601\r SQLCODE=-104
[SQL: select Elementary, Middle, or High School, avg(safety_score) from chicago_public_schools group by Elementary, Middle, or High School;]
(Background on this error at: http://sqlalche.me/e/f405)

In [25]:
%sql select community_area_name, percent_households_below_poverty from census_data order by percent_households_below_poverty desc limit 10;
# list 10 community areas with highest % of household below poverty line

 * ibm_db_sa://zwh93123:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4')),
 ('Washington Park', Decimal('42.1')),
 ('West Garfield Park', Decimal('41.7')),
 ('Armour Square', Decimal('40.1')),
 ('Oakland', Decimal('39.7')),
 ('West Englewood', Decimal('34.4'))]

In [32]:
%sql select community_area_number from chicago_crime_data group by community_area_number order by count (community_area_number) desc limit 1;
#which community area number is most crime prone

 * ibm_db_sa://zwh93123:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[(25,)]

In [34]:
%sql select community_area_name, hardship_index from census_data where hardship_index = (select max(hardship_index) from census_data);
# use a sub-query to find the name of the community area with highest hardship index

 * ibm_db_sa://zwh93123:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[('Riverdale', 98)]

In [39]:
%sql select community_area_name from census_data where community_area_number in (select community_area_number from CHICAGO_CRIME_DATA group by community_area_number order by count (community_area_number) desc limit 1);

#determine the community area name with most number of crimes

 * ibm_db_sa://zwh93123:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb
Done.

[('Austin',)]